<HTML>
<head>
	<title>SMP Class List</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="customize.css">

</head>
<BODY>
<div class="wrapper">

	<form>
		
		<label>School:</label>
		<br>
		<input type="text">
		<br>
		<br>
		<label>Branch:</label>
		<br>
		<input type="text">
		<br>
		<br>
		<label>Subject</label>
		<br>
		<input type="text">
		<br>
		<br>
		<label>Teacher</label>
		<br>
		<input type="text">
		<br>
		<br>
		<label>Semester:</label>
		<br>
		<input type="text">
		<br>
		<br>
		<label>Year:</label>
		<br>
		<input type="text">
		<br>
		<br>
		<label>Section:</label>
		<br>
		<input type="text">
		<br>
		<br>
		<table>
			<tr>
				<th>Name</th>
				<th>Course</th>
				<th>ID Number</th>
				<th>Project</th>
				<th>Gender</th>
				<th>Grade</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
			</tr>
		</table>

		
	
	</form>

	
</div>	
</BODY>

</HTML>