<HTML>
<head>
	<title>Site Visit Tracker</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/customize.css">

</head>
<BODY>

<div class="info-form">
	
	<h3>Site Visit Tracker</h3>

	<legend>Personal Information</legend>
		<form class="form-inline">
			<div class="form-group"><label>Name Suffix</label>
			<input type="text" class="form-control" placeholder="Mr.">
			</div>
			<div class="form-group"><label>Last Name</label>
			<input type="text" class="form-control" placeholder="Cruz">
			</div>
			<div class="form-group"><label>First Name</label>
			<input type="text" class="form-control" placeholder="Raymond Joseph Nathaniel">
			</div>
			<div class="form-group"><label>Middle Initial</label>
			<input type="text" class="form-control" placeholder="C">
			</div>
		</form>
		<form class="form-inline">
			<div class="form-group"><label>State University</label>
			<input type="text" class="form-control" placeholder="System Generated">
			</div>
		</form>
		
		<form class="form-inline">
			<legend>Immersion</legend>
			<div class="form-group"><label>Training Location</label>
			<input type="text" class="form-control" placeholder="Ateneo de Manila University">
			</div>
			<div class="form-group"><label>Company Host</label>
			<input type="text" class="form-control" placeholder="Ateneo de Manila University">
			</div>
			<div class="form-group"><label>Event Date</label>
			<input type="date" class="form-control" placeholder="11/10/2013">
			</div>
		</form>
		<form class="form-inline">
			<div class="form-group"><label>Feedback Form</label><br/>
			<input type="radio" name="feedback_form" value="yes"> Yes
			<input type="radio" name="feedback_form" value="no"> No
			</div>
		</form>

	
	</div>	

</div>	
</BODY>

</HTML>