<HTML>
<head>
	<title>Participant's Contract</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/customize.css">

</head>
<BODY>
<div class="wrapper info-form">
	<form class="form-inline">
		<h3>Participant's Contract</h3>
		
		<legend>Section I</legend>
		<div>This states how the participant (teacher) waives the responsibility of the company in case an emergency situation might occur to him/her. He/She underwent the training by his own will and not by force</div>
		
		<legend>Section II</legend>
		<div>This states how the participant agrees on not releasing confidential information (training modules, company secrets, etc) to outside parties or anyone not involved in the training. This also states that consequences he/she will face once found guilty of doing such offenses.</div>

		<legend>Section III</legend>
		<div>This states how the company (BPAP) reserves the right to release media (pictures, video, etc.) containing and/or owned by the participant to different parties for official releases and publications.</div>
		
		<legend>Section IV</legend>
		<div>This states that the participants agree to encode all the necessary forms assigned by BPAP </div>
		<br/>
		I hereby declare that I have read and understood all the terms in this contract. I. the undersigned, agree to all the provisions listed above, and sign this document of my own free will.
		<br/>
		<div>Signed:</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div>Signature Over Printed Name | Date</div>
	</form>
</div>	
</BODY>

</HTML>
