<HTML>
<HEAD>
</HEAD>
<BODY>
    
    <fieldset><legend><h1><B> Class List </h1></B></legend>

    <label for="Name">School:</label>
    Ateneo de Manila

    <label for="Branch">Campus:</label>
    Manila <BR>

    <label for="Subject">Subject:</label>
    Systems Thinking <BR>

    <label for="Teacher">Teacher (Last, First MI):</label>
    Fajardo Francis Y <br>

    <label for="Semester">Semester:</label>
    2

    <label for="Year">Year:</label>
    2013<BR>

    <label for="Section">Section:</label>
    MIS151<BR>
 
    <TABLE id="dataTable" width="350px" border="1">
        <TR>
        <TD><B>  </B></TD>
        <TD><B> Last Name: </B></TD>
        <TD><B> First Name: </B></TD>
        <TD><B> Middle Initial: </B></TD>
        <TD><B> Student Number: </B></TD>
        <TD><B> Applied? </B></TD>
        </TR>
        <TR>
           
	    <TD> 1</TD>
            <TD> Federico </TD>
            <TD> Joy </TD>
            <TD> H </TD>
            <TD> 101487 </TD> 
            <TD> YES </TD>   
            
        </TR>
    </TABLE>
    </fieldset>
</BODY>
</HTML>

