
<HTML>
<head>
	<title>Intern Evaluation</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/customize.css">

</head>
<BODY>
<div class="wrapper info-form">

		<h3>Internship Evaluation</h3>
		
		
		<legend>Information</legend>
		
		<form class="form-inline">
			<div class="form-group">
				<label>Name Suffix</label><!-- This is the another label -->
				<input type="text" class="form-control" id="nameSuffix">
			</div>
			
			<div class="form-group">
				<label>Last Name</label><!-- This is the start where you put the label -->
				<input type="text" class="form-control" id="lname"><!-- The input field. Don't forget the id -->
			</div>
			
			<div class="form-group">
				<label>First Name</label><!-- This is the another label -->
				<input type="text" class="form-control" id="fname">
			</div>
		
			<div class="form-group">
				<label>Middle Initial</label><!-- This is the another label -->
				<input type="text" class="form-control" id="mInitial">
			</div>
			
		</form>
		
		<form class="form-inline">
		
			<div class="form-group">
				<label>School ID Number</label><!-- This is the another label -->
				<input type="text" class="form-control" id="sidnumber">
			</div>
			
			<div class="form-group">
				<label>School</label><!-- This is the another label -->
				<input type="text" class="form-control" id="school">
			</div>
		
			<div class="form-group">
				<label>Branch</label><!-- This is the another label -->
				<input type="text" class="form-control" id="branch">
			</div>
		
		</form>

	<form class="form-inline" role="form"> <!-- This is the start of the blocked fields -->
		<form class="form-inline">
			<legend>Supervisor Information</legend>
			<div class="form-group">
				<label>Name</label><!-- This is the start where you put the label -->
				<input type="text" class="form-control" id="sname"><!-- The input field. Don't forget the id -->
			</div>
			
			<div class="form-group">
				<label>Position</label><!-- This is the another label -->
				<input type="text" class="form-control" id="position">
			</div>
		
			<div class="form-group">
				<label>Contact Details</label><!-- This is the another label -->
				<input type="text" class="form-control" id="contactDetails">
			</div>
			</form>	
	</form>
	<form class="form-inline" role="form"> <!-- This is the start of the blocked fields -->
		<form class="form-inline">
			<legend>Company Information</legend>
			<div class="form-group">
				<label>Name</label><!-- This is the start where you put the label -->
				<input type="text" class="form-control" id="name"><!-- The input field. Don't forget the id -->
			</div>
			
			<div class="form-group">
				<label>Address</label><!-- This is the another label -->
				<input type="text" class="form-control" id="address">
			</div>
			</form>	
	</form>
	<form class="form-inline" role="form"> <!-- This is the start of the blocked fields -->
		<form class="form-inline">
			<legend>Internship Information</legend>
			<div class="form-group">
				<label>Start Date</label><!-- This is the start where you put the label -->
				<input type="date" class="form-control" id="sdate"><!-- The input field. Don't forget the id -->
			</div>
			
			<div class="form-group">
				<label>End Date</label><!-- This is the another label -->
				<input type="date" class="form-control" id="edate">
			</div>
			<div class="form-group">
				<label>Total Work Hours Rendered</label><!-- This is the another label -->
				<input type="number" class="form-control" id="twhrendered">
			</div>
			</form>	
		</form>
	</form>
	
	<form class="form-inline">
		<legend>Evaluation</legend>
		<div class="form-group">
			<label>Task Assigned</label><!-- This is the start where you put the label -->
			<input type="text" class="form-control" id="tasks"><!-- The input field. Don't forget the id -->
		</div>
	</form>
		
	<h4>Rating</h4>

	<span class="help-block">Given the following skills, please give the appropriate overall rating based on your observation of the intern's performance: <br/> 5 - Outstanding, 4 - Very Good, 3 - Satisfactory, 2 - Less than satisfactory, 1 - poor</span>
	<table class="table">
		<tr>
			<th></th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
		</tr>
		<tr>
			<td>English Proficiency</td>
			<td><input type="radio" name="eproficiency" value="1"></td>
			<td><input type="radio" name="eproficiency" value="2"></td>
			<td><input type="radio" name="eproficiency" value="3"></td>
			<td><input type="radio" name="eproficiency" value="4"></td>
			<td><input type="radio" name="eproficiency" value="5"></td>
		</tr>
		<tr>
			<td>Computer Literacy</td>
			<td><input type="radio" name="csl" value="1"></td>
			<td><input type="radio" name="csl" value="2"></td>
			<td><input type="radio" name="csl" value="3"></td>
			<td><input type="radio" name="csl" value="4"></td>
			<td><input type="radio" name="csl" value="5"></td>
		</tr>
		<tr>
			<td>Learning Orientation</td>
			<td><input type="radio" name="lo" value="1"></td>
			<td><input type="radio" name="lo" value="2"></td>
			<td><input type="radio" name="lo" value="3"></td>
			<td><input type="radio" name="lo" value="4"></td>
			<td><input type="radio" name="lo" value="5"></td>
		</tr>
		<tr>
			<td>Perceptual Speed and Accuracy</td>
			<td><input type="radio" name="psa" value="1"></td>
			<td><input type="radio" name="psa" value="2"></td>
			<td><input type="radio" name="psa" value="3"></td>
			<td><input type="radio" name="psa" value="4"></td>
			<td><input type="radio" name="psa" value="5"></td>
		</tr>
		<tr>
			<td>Reliability</td>
			<td><input type="radio" name="rel" value="1"></td>
			<td><input type="radio" name="rel" value="2"></td>
			<td><input type="radio" name="rel" value="3"></td>
			<td><input type="radio" name="rel" value="4"></td>
			<td><input type="radio" name="rel" value="5"></td>
		</tr>
		<tr>
			<td>Empathy</td>
			<td><input type="radio" name="emp" value="1"></td>
			<td><input type="radio" name="emp" value="2"></td>
			<td><input type="radio" name="emp" value="3"></td>
			<td><input type="radio" name="emp" value="4"></td>
			<td><input type="radio" name="emp" value="5"></td>
		</tr>
		<tr>
			<td>Courtesy</td>
			<td><input type="radio" name="court" value="1"></td>
			<td><input type="radio" name="court" value="2"></td>
			<td><input type="radio" name="court" value="3"></td>
			<td><input type="radio" name="court" value="4"></td>
			<td><input type="radio" name="court" value="5"></td>
		</tr>
		<tr>
			<td>Responsiveness</td>
			<td><input type="radio" name="resp" value="1"></td>
			<td><input type="radio" name="resp" value="2"></td>
			<td><input type="radio" name="resp" value="3"></td>
			<td><input type="radio" name="resp" value="4"></td>
			<td><input type="radio" name="resp" value="5"></td>
		</tr>
	</table>
			
	<form class="form" role="form"> <!-- This is the start of the blocked fields -->
		<div class="form-group">
			<label>Comments and Suggestions</label><!-- This is the start where you put the label -->
			<textarea class="form-control"  rows="3"></textarea>
		</div>
	</form>
	<form class="form-inline" role="form"> <!-- This is the start of the blocked fields -->
		<div class="form-group">
			<label>Does the student meet the standards of the company for employment?</label><br/><!-- This is the start where you put the label -->
			<input type="radio" name="standard" value="yes"> Yes<!-- The input field. Don't forget the id -->
			<input type="radio" name="standard" value="no"> No<!-- The input field. Don't forget the id -->
		</div>
			
	</form>
</div>	
</BODY>
</HTML>